DJANGO_SECRET_KEY=chave-local-nao-utilizar-em-producao
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
API_KEY=dev-key-default
API_KEY_HEADER=X-API-Key
PORT_WEB=8001
PORT_DEBUGPY=5678
URL_BANCO_BOLETIM=
DB_POOL_SIZE=5

SME_SDK_ENABLED=true
SME_SERVICE_NAME=sme_sgp_boletim_ms
SME_SERVICE_VERSION=0.1.0
SME_ENVIRONMENT=local
SME_LOGGING_ENABLED=true
SME_LOG_LEVEL=INFO
SME_LOG_FORMAT=json
SME_CORRELATION_ID_HEADER=X-Request-ID
SME_BROKER_URL=amqp://guest:guest@rabbitmq:5672/%2F
SME_LOG_QUEUE=
SME_OBSERVABILITY_BACKEND=elastic
SME_OTEL_ENABLED=false
SME_OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
SME_OTEL_EXPORTER_OTLP_HEADERS=
SME_OTEL_EXPORTER_OTLP_INSECURE=true
